<div id="content">
    <div id="homePage">
        <div class="blocEvent">
            <iframe width="400" height="270" src="https://www.youtube.com/embed/5Ed1LFBZaBk?autoplay=1"
                title="Teaser Grand Prix Triathlon FF TRI 2023" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
            <div class="homeEventDate">5 étapes</div>
        </div>
        <div class="blocEvent" [routerLink]="['/event/infos/861']">
            <img id="Frejus" src="assets/img/event/frejus.jpg">
            <div class="homeEventCity">Frejus</div>
            <div class="homeEventDate">13 Mai</div>
        </div>
        <div class="blocEvent" [routerLink]="['/event/infos/862']">
            <img id="Bordeaux"
                src="assets/img/event/20220702-GRAND-PRIX-TRIATHLON-D1FEMMES-@ActivImages-F-BOUKLA-5.jpg">
            <div class="homeEventCity">Bordeaux</div>
            <div class="homeEventDate">17 Juin</div>
        </div>
        <div class="blocEvent" [routerLink]="['/event/infos/863']">
            <img id="Metz" src="assets/img/event/metz.jpg">
            <div class="homeEventCity">Metz</div>
            <div class="homeEventDate">1-2 Juillet</div>
        </div>
        <div class="blocEvent" [routerLink]="['/event/infos/864']">
            <img id="Quiberon"
                src="assets/img/event/2022-08-04-tri-d1h-fftri-@f-boukla-activimages-9528-1.jpg">
            <div class="homeEventCity">Quiberon</div>
            <div class="homeEventDate">2 Septembre</div>
        </div>
        <div class="blocEvent" [routerLink]="['/event/infos/865']">
            <img id="SaintJeanDeMonts" src="assets/img/event/st_jean.jpg">
            <div class="homeEventCity">Saint-Jean-de-Monts</div>
            <div class="homeEventDate">9-10 Septembre</div>
        </div>
    </div>
</div>
