<h2>
    {{CheckinService.EventName}} ({{CheckinService.EventId}})
</h2>
<div id="checkinDivisionList">
    <div>
        <a routerLink="D1F">D1F - Division 1 Femme</a>
    </div>
    <div>
        <a routerLink="D1H">D1H - Division 1 Homme</a>
    </div>
    <div>
        <a routerLink="D2F">D2F - Division 2 Femme</a>
    </div>
    <div>
        <a routerLink="D2H">D2H - Division 2 Homme</a>
    </div>
    <div>
        <a routerLink="D3F">D3F - Division 3 Femme</a>
    </div>
    <div>
        <a routerLink="D3H">D3H - Division 3 Homme</a>
    </div>
    <div style="background-color:rgb(206, 241, 107);color:black;margin-top: 30px;">
        <a style="color:black;" routerLink="EXPORT">DataExport (ProLiveSport)</a>
    </div>
</div>