<div id="footer">
  <span>Partenaires du Grand Prix Triathlon 2023</span>
  <div id="footerPartner">
    <div class="footerPartnerBloc">
      <a href="https://www.agencedusport.fr" target="_blank"><img src="assets/img/partners/ANS.png" /></a>
    </div>
    <div class="footerPartnerBloc">
      <a href="https://www.ekoi.fr" target="_blank"><img src="assets/img/partners/Ekoi.png" /></a>
    </div>
    <div class="footerPartnerBloc">
      <a href="https://www.lepape.com" target="_blank"><img src="assets/img/partners/Lepape.png" /></a>
    </div>
    <div class="footerPartnerBloc">
      <a href="https://www.maif.fr" target="_blank"><img src="assets/img/partners/Maif.png" /></a>
    </div>
    <div class="footerPartnerBloc">
      <a href="https://www.sports.gouv.fr" target="_blank"><img
          src="assets/img/partners/MinistereSport.png" /></a>
    </div>
    <div class="footerPartnerBloc">
      <a href="https://www.sferis.fr" target="_blank"><img src="assets/img/partners/Sferis.png" /></a>
    </div>
    <!--
    <div class="footerPartnerBloc">
      <a href="https://www.z3r0d.com/fr/" target="_blank"><img src="assets/img/partners/Zerod.png" /></a>
    </div>
    -->
    <div class="footerPartnerBloc">
      <a href="https://www.fftri.com" target="_blank"><img src="assets/img/partners/FFTRI.png" /></a>
    </div>
    <div class="footerPartnerBloc">
      <a href="https://www.prolivesport.fr/" target="_blank"><img src="assets/img/partners/PLS.png" /></a>
    </div>
  </div>
  <div style="margin-top: 20px;"><span>Réseaux de la FF TRI</span></div>
  <div id="footerReseaux">
    <div class="footerReseauxBloc">
      <a href="https://www.youtube.com/@FFTriathlon1" target="_blank">
        <img src="assets/img/icon/youtube.png" />
      </a>
    </div>
    <div class="footerReseauxBloc">
      <a href="https://fr-fr.facebook.com/FFTRI/" target="_blank">
        <img src="assets/img/icon/facebook.png" />
      </a>
    </div>
    <div class="footerReseauxBloc">
      <a href="https://www.instagram.com/fftriathlon/" target="_blank">
        <img src="assets/img/icon/instagram.png" />
      </a>
    </div>
    <div class="footerReseauxBloc">
      <a href="https://twitter.com/FFTRI" target="_blank">
        <img src="assets/img/icon/tiwtter.png" />
      </a>
    </div>
  </div>
</div>
