<div>
    <h1>Checkin-in tools - 2023 season</h1>
    <!--<a routerLink="division">Division</a> - <a routerLink="team">Team</a> - <a routerLink="athlete">Athlete</a>
    <br />-->
    <!--<a routerLink="714">Du Etape 3 - CLM</a>-->
    <a routerLink="861">Tri - Etape 1 - Fréjus</a>
    &nbsp;&nbsp;-&nbsp;&nbsp; <a routerLink="862">Tri - Etape 2 - Bordeaux</a>
    &nbsp;&nbsp;-&nbsp;&nbsp; <a routerLink="863">Tri - Etape 3 - Metz</a>
    &nbsp;&nbsp;-&nbsp;&nbsp; <a routerLink="864">Tri - Etape 4 - Quiberon</a>
    &nbsp;&nbsp;-&nbsp;&nbsp; <a routerLink="865">Tri - Finale - Saint-Jean-de-Monts</a>
    <hr />
    <a routerLink="866">Du - Etape 1 - Parthenay</a>
    &nbsp;&nbsp;-&nbsp;&nbsp; <a routerLink="867">Du - Etape 2 - Calais</a>
    &nbsp;&nbsp;-&nbsp;&nbsp; <a routerLink="868">Du - Etape 3 - MSA</a>
    &nbsp;&nbsp;-&nbsp;&nbsp; <a routerLink="869">Du - Etape 4 - Noyon</a>
    &nbsp;&nbsp;-&nbsp;&nbsp; <a routerLink="870">Du - Finale - Avallon</a>
    <hr />
    <router-outlet></router-outlet>
</div>