<div class="selectorDatas">
  <div class="selectorData">
    <button routerLink="/event/{{this.eventService.eventId}}/{{this.raceService.divId}}/general">General</button>
    <button routerLink="/event/{{this.eventService.eventId}}/{{this.raceService.divId}}/startlist">StartList</button>
    <button routerLink="/event/{{this.eventService.eventId}}/{{this.raceService.divId}}/call">Appel</button>
    <button routerLink="/event/{{this.eventService.eventId}}/{{this.raceService.divId}}/scratch">Scratch</button>
    <button routerLink="/event/{{this.eventService.eventId}}/{{this.raceService.divId}}/etape">Etape</button>
  </div>
</div>

