<h1>Vestiaire</h1>

<form method="post">
  <p>
    <label><input type="text" name="dossard" placeholder="Dossard" /></label>
    <input type="submit" value="Envoyer" />
    <button onclick="window.location.href = '/scanner'">Scanner QRCode</button>
  </p>
  <p>
    <label><input type="number" name="id" placeholder="id" /></label>
    <br>
    <label><input type="number" name="id" placeholder="Numéro de sac" /></label>

    <input type="submit" value="Déposer" />
    <input type="submit" value="Récuperer" />
  </p>
</form>
